/1_main_train.pkl
/1_main_test.pkl
/1_brain_train.pkl
/1_brain_test.pkl

/2_main_train.pkl
/2_main_test.pkl
/2_val_test.pkl

/brain_test_validate.pkl
/main_test_validate.pkl

/eduheatmap.png
/edulasso.png
/edulassosr.png
/eduvalheatmap.png
/eduvallasso.png
/eduvallassosr.png


/mainbrainpredage.png
/mainbrainpredagecorr.png
/mainbrainage.png
/mainheatmap.png
/mainpa.png
/mainpascat.png
/mainsrpa.png
/mainlasso.png
/mainlassosr.png

/valbrainpredage.png
/valbrainpredagecorr.png
/valbrainage.png
/valheatmap.png
/valpa.png
/valpascat.png
/valsrpa.png
/vallasso.png
/vallassosr.png


